<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Log in </title>

    <style>
        button{
            display: block;
            width: 50;
            border: none;
            background-color: #04AA6D;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>Log in page</h1>


       <button type="button" onclick="window.location.href='https://udacity-capstone-api.us.auth0.com/authorize?audience=http://localhost:5000&response_type=token&client_id=8QQ19Zt0zZU5qwwLBDt2bZuytIeP2waX&redirect_uri=http://localhost:5000/movies';">
        Log In 
    </button>


</body>
</html>